@import 'tailwindcss';

@theme {
  --color-background: #191919;
  --color-font: #fcfcfc;

  --color-card: #212121;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}