@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-font: #fcfcfc;
  --color-card: #212121;
  --color-primary: #613fe8;
}

/* Variables de police et de fond */
:root {
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-mono);
  --background: #0f172a; /* fond foncé par défaut */
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Animation utilitaire */
@keyframes subtleMove {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}
