@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-font: #fcfcfc;
  --color-card: #212121;

  --color-primary: #613fe8;
}

:root {
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-mono);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}